body, html {
    border: 10px solid rgb(111,119,98);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 16px;
}

h2 {
    font-family: "Special Elite", cursive;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 0px;
}

h3 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 900;
    letter-spacing: 1px;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    line-height: 22px;
}

td {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    line-height: 30px;

}

a {
    text-decoration:none;
    color: black;

}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;

}

.split {
    position: absolute;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.split.left {
left:0;
background: url(/home/elise/Desktop/becode_projects/VCard/images/ElisePhotoCV.jpg) center center no-repeat;
background-size: cover;
background-position:70% bottom;
}

.split.right {
    
    width:60%;
    right:0;
    background-size: cover;
    vertical-align: center;
}

.upper {
    margin-top: 10%;
    margin-left: 11%;
    margin-right: 10%;
}

* {
    box-sizing: border-box;
  }

.row {
    float: left;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
    height: 300px;
    margin: 0 -15px;
    width: 785px; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float:left;
    padding: 30px;
    width: 50%;
    height: 300px;
  }

.footer {
    height: 100px;
    width: 785px;
    
}
.footer.row {
    float: left;
    height: 100px;
    padding:0;
    bottom: 0;
}

.footer.row:after {
    content: "";
    display: table;
    clear: both;
  }

.footer.column {
    float:left;
    width: 50%;
    height: 100px;
  }

.social {
      background-color:rgb(111,119,98);
      color:white;
      position: fixed;
      width: 250px;
      height: 100px;
      bottom: 0;
  }

 h4 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 7%;
    margin: 0;
 }

 .social-icons {
    margin-left: 15px;
    padding:0;
    list-style: none;
 }

 .button {
     display:inline;
     padding: 5px;
 }

 .button:hover {
    filter: invert(100%);
 }